body {
    font-family: Garamond, serif;
    background-color: #f0f9f8;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    background: #f3a2be;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 50px auto;
}

h1 {
    font-size: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 80%;
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #c6e6e3;
    color: #6d6875;
    padding: 10px 15px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    color: #81bfb7;
}

p {
    font-size: 18px;
    margin-top: 15px;
    padding: 10px;
    background: #ffd3dd;
    display: inline-block;
    border-radius: 5px;
}

.containerTwo {
    background: #f3a2be;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 50px auto;
}
