body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: green;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
    margin-bottom: 20px;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
